.App {
  font-family: Arial, sans-serif;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4CAF50;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.chat-header h1 {
  margin: 0;
  color: #fff;
}

.room-container {
  display: flex;
}

.room-container input {
  padding: 5px;
  margin-right: 10px;
}

.room-container button {
  padding: 5px 10px;
}

.chat-main {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  background: #f1f1f1;
}

.chat-messages {
  list-style: none;
  padding: 0;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
  background: #d4edda;
  border-radius: 5px;
}

.chat-form-container {
  display: flex;
  margin-top: 10px;
}

.chat-form-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.chat-form-container textarea {
  width: calc(100% - 80px); /* Adjust the width considering the send button */
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none; /* Prevent resizing */
  box-sizing: border-box;
}

.chat-form-container button {
  width: 60px;
  height: 60px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-messages .message span {
  white-space: pre-wrap; /* Ensure that whitespace is preserved */
}
