.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  text-align: center;
  background: #4CAF50;
  color: white;
  margin: 0;
  padding: 10px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  word-break: break-word; /* Bricht lange Wörter an beliebiger Stelle um */
  hyphens: auto; /* Automatische Bindestriche bei langen Wörtern */
}

.message {
  background: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.message-form {
  display: flex;
  padding: 10px;
  background: #f9f9f9;
}

.message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  resize: none; /* Verhindert die manuelle Größenänderung durch den Benutzer */
  overflow: hidden; /* Verhindert das Scrollen innerhalb des Textarea */
  word-break: break-word; /* Bricht lange Wörter an beliebiger Stelle um */
  hyphens: auto; /* Automatische Bindestriche bei langen Wörtern */
}

.send-button {
  padding: 10px 20px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background: #45a049;
}
